<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Book Store</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="/">Book Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="Available_books">Available Books</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white" href="/my_books">My Books</a>
                </li>

            </ul>

            <div>
                <a class="nav-link text-white" href="book_register">Register New Book</a>

            </div>
        </div>
    </div>
</nav>
<div class="container text-center my-6">
    <br>
    <br>
    <h1>Welcome To Three-Four  Book Store</h1>
    <br>
    <br>
    <h6>Welcome to Three-Four Book Store, a haven for book lovers and a sanctuary for the curious mind. Nestled in the heart of Kigali, our bookstore is more than just a place to buy books—it's a community hub where stories come to life, imagination knows no bounds, and entrepreneurship takes flight. Whether you're a voracious reader, a casual browser, or someone searching for the perfect gift, you'll find an enchanting array of titles across every genre. Our carefully curated collection promises to ignite your passion for reading, from the latest bestsellers and timeless classics to hidden gems and exclusive editions. Additionally, discover a wealth of resources on entrepreneurship, designed to inspire and empower aspiring business leaders. Step into
        a world where every book tells a tale,
        every visit is a new adventure, and every page could spark your next big idea.
        Join us at Three-Four Book Store—where your next great story and entrepreneurial journey await.</h6>
    <br>
    <br>
    <img src="/images/Library.png">
    <br>
    <br>
    <br>
    <br>
    <h6>Reading is a transformative journey that takes us from the shadows of
        ignorance to the illuminating light of knowledge.
        Each page turned is a step away from the darkness of the unknown and
        towards the brightness of understanding and enlightenment.
        As we delve into stories and immerse ourselves in new ideas,
        we find that our minds and souls are illuminated,
        revealing paths we never knew existed.
        Let the words guide you from the obscurity of doubt to the brilliance of insight,
        for as the saying goes,
        <br>
        <h4>"A reader lives a thousand lives before he dies. The man who never reads lives only one."
    </h4>
    </h6>
<br>
    <br>
    <img src="/images/reading man.jpg" sizes="100px 70px">
    <br>
    <br>


</div>
</body>
</html>